//  couleur texte

$grisBackground : #FAFAFA;
$grisClair: hsl(227, 12%, 61%);
$NoirBleu : hsl(233, 12%, 13%);
$BlancClassique: #FFFFFF;

$orangeClassique : #F3613C;
$orangeClair: #F98F75;

$Bleu :  hsl(228, 39%, 23%);