.avantages-section {
    padding: 100px 10% 0 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    position: relative;
    gap: 10px 100px;

    

    .title-different {

        p, h2 {

            @include grid {
                text-align: center;
                padding: 0;
    
            }
        }
        
        h2 {
            font-size: clamp(29px,4vw,40px);
            color: $Bleu;
        }

        img {
            position: absolute;
            left: -600px;
            bottom: -500px;
            z-index: -10;

            @include grid {
                transform: scale(0.4);
                right: -450px;
                left: auto;
                bottom: auto;
                top: -500px;
                transition: 0.4s ease-in-out;
            }
        }
    }

    .card-avantages {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -8%;
        width: 115%;
       

        .title-avantages {
            display: flex;
            flex-direction: row;
            height: 40px;
            align-items: center;
            border-radius: 50px 0 0 50px;

            @include grid  {
                background-color: #FFF0EB;
                position: absolute;
                width: 120%;
                
            }
            
            p {
                position: absolute;
                background: $orangeClassique;
                border-radius: 50px;
                padding: 10px 25px;
                color: $BlancClassique;
                height: max-content;
            }
            h3 {
                padding-left: 100px;
                color: $Bleu;

                @include grid {
                    padding-left: 75px;
                    font-size: clamp(13px, 3vw, 25px);
                }
            }
        }
    
        .text-avantages {
    
    
            p {
                line-height: 30px;
                margin: 30px 0;
                padding-left: 100px;

                @include grid {
                    margin: 55px 0 30px;
                    padding: 0;
        
                }
            }
        }
    }


}