* ,::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background: $BlancClassique;
    overflow-x: hidden !important;
}

main {
    max-width: 100vw;
    overflow-x: hidden;
}

.active-body {
    overflow: hidden;
}

.wrapper80 {
    max-width: 80%;
    margin: 0 auto;
}

.btn {
    background: $orangeClassique;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 50px;
    color: $BlancClassique;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        box-shadow: 0px 2px 8px 0px $orangeClair;
        background-color: $orangeClair;
    }
}

h1, h2, h3 {
    color: $NoirBleu;
}

p {
    color: $grisClair;
}

.text-long-paragraphe {
    padding-right: 40%;
    line-height: 30px;
    margin: 30px 0;
}