header {
    position: fixed;
    width: 100%;
    z-index: 2;
    transition: 0.4s ease-in-out;
}

//  Class ajoute quand le scroll sur y depasse les 50px
.active-scrollY {
    background: $BlancClassique;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    transition: 0.4s ease-in-out;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 10% 10px;

    // --------OVERLAY

    .overlay {
        position: absolute; 
        display: none; 
        width: 100%; 
        height: 100vh; 
        top: 0;
        left: 0;
        // right: 0;
        // bottom: 0;
        background:linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.6) 100%); 
        z-index: 2;
        overflow: hidden;
      }

    // ---------LOGO DU HEADER

    img {
        cursor: pointer;
    }

    // ----------NAVIGATION ET LISTES 
    
    .nav-header {
        
        .active-nav {
            display: flex !important;
            position: absolute;
            flex-direction: column !important;
            top: 100px;
            left:50%;
            transform: translateX(-50%);
            width: 90%;
            align-items: center;
            background-color: $BlancClassique;
            z-index: 10;
            padding: 40px;
            border-radius: 5px;
            transition: 0.5s ease-out;
            max-width: 600px;
        }
        
        .list-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 30px;
            
            a {
                color: $NoirBleu;
                font-weight: 500;
                
                &:hover {
                    color: $grisClair;
                }
            }
            
            @include lg {
                display: none;
            }
            
        }

    }

    // --------------BUTTON HEADER
    
    .button-header button {
        position: relative;
        bottom: 8px;
        right: 0;
        width: max-content;

        @include lg {
            display: none;
        }
    }

    .button-header img {
        opacity: 0;
        position: absolute;
        right: 10%;
        z-index: 3;

        @include lg {
            opacity: 1;
        }
    }
}

