.home-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: row;
  padding-top: 180px;
  gap: 50px 0px;

  @include grid {
    gap: 20px 100px;
    padding-top: 100px;
  }

  .text-home {

    h1, p, button {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50px);
    }
  }

  h1 {
    font-size: clamp(29px, 4vw, 60px);
    line-height: clamp(29px, 4vw, 60px);
    padding-top: 50px;
    color: $Bleu;
  }

  @include grid {
    .text-home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      grid-area: 2;

      h1,
      p {
        padding: 0;
        
      }
    }
  }

  .img-home img:nth-child(1) {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(50px);
  }

  .bg-deco-home {
    position: absolute;
    right: -5%;
    top: -150px;
    z-index: -10;
    transition: 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translate(100px, -200px);

    @include grid {
      transform: scale(0.5) !important;
      right: -350px;
      left: auto;
      bottom: auto;
      top: -300px;
      transition: 0.4s;
    }
  }
}
