.notice {
  padding: 100px 0 150px;
  text-align: center;
  overflow-x: hidden;
//   @include sm {
//     padding: 100px 10% 150px;
//     overflow-x: hidden;
//   }

.swiper-pagination-bullet {
    background-color: $orangeClair;
}
.swiper-pagination-bullet-active {
    background-color: $orangeClassique;
}

  .section-slider {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
  }

  h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
  }

  button {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
  }

  .container-slider {
    margin-bottom: 50px;
    width: 100%;

    // @include sm {
    //   margin: 0 10% 50px;
    // }

    .card-slid {
      padding: 20px;
      background-color: $grisBackground;
      max-width: 600px;
      width: 80vmin;
      min-height: 180px;
      min-width: 280px;
      position: relative;
      padding-top: 50px;
      flex-shrink: 0;
    //   opacity: 0;
    //   visibility: hidden;
    //   transform: translateY(-50px);

      img,
      h3,
      p {
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
      }

      p {
        line-height: 30px;
      }

      img {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        overflow: visible;
        width: 80px;
        height: 80px;
      }
    }
  }
}
